body {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: rgb(215, 81, 217);
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid seashell;
    background-color: rgb(249, 172, 226);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 69px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    color: seashell;
    text-decoration: underline;
    font-size: 22px;
}

.banner {
    background: url('img-mission-background.webp') center/cover no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.overlay {
    background-color: rgb(215, 81, 217);
    padding: 20px;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
}

h4 {
    font-size: 22px;
}

.product-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 50px;
}

.product img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.locations-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    background: url('img-locations-background.jpg') center/cover no-repeat;
    height: 500px;
    align-items: center;
}

.location {
    background-color: rgba(236, 105, 208, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    opacity: 1;
}

footer {
    padding: 20px;
    background-color: rgb(238, 187, 247);
}

footer h5 {
    font-size: 15px;
}

footer p {
    text-align: left;
    font-size: 12px;
}
