body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(224, 9, 52, 0.582);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    color: white;
    position: fixed;
    width: 100%;
}
.home{
    top: 30px;
}
header img {
    max-width: 150px;
}

nav ul {
    text-align: center;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    
}

#home {
    text-align: center;
    padding: 40px 0;
}

#home h1, h2 {
    text-align: center;
    font-size: 2em;
}

#home p {
    font-size: 1.2em;
    margin-top: 20px;
}

.menu-item {
    background-color: rgba(245, 141, 162, 0.582);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    max-width: 90%;
    height: auto;
}

#about {
    background-color: #F5F5F5;
    padding: 40px 0;
    text-align: center;
}

#hours {
    text-align: center;
    padding: 40px 0;
}

#hours table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#hours th, #hours td {
    padding: 10px;
    border: 1px solid #ccc;
}

#locations {
    background-color: #F5F5F5;
    padding: 40px 0;
    text-align: center;
}

#contact {
    text-align: center;
    padding: 40px 0;
}

footer {
    background-color: rgba(224, 9, 52, 0.582);
    color: white;
    text-align: center;
    padding: 30px;
}

@font-face {
    font-family: tu ;
    src: url(BetterTogether-owP2B.otf);
}

.cabecario{
    font-family: 'tu', Times, serif;
}

h3{
    font-family: 'tu', Times, serif;
}
@font-face {
    font-family: bs;
    src: url(Blenda\ Script.otf);
}
h1{
    font-family: 'bs', Times, serif;
}
h2{
    font-family: 'bs', Times, serif;
}
.end{
    font-family: 'b', Times, serif;
}
